/* NAVBAR */

#main-navbar .nav-link {
    border-bottom: 5px solid #343a40;
    color: #e2e1e1;

    text-transform: uppercase;
}

#main-navbar .nav-link:hover,
#main-navbar a.active {
    border-bottom: 5px solid #117a8b;
    color: white;
}

.main-logo {
    height: 100px;
    margin-bottom: -70px;
    /* supaya logo offset kebawah */
}

.small-logo {
    height: 60px;
    /* Logo kecil */
}

/* main slider halaman home */
#main-navbar {
    z-index: 2;
}

#main-slide .carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    background-attachment: fixed;
}

#main-slide h1 {
    margin-top: 50vh;
    /* posisikan teks ditengah slider */
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100%;
}

#slide1 {
    background-image: url('../image/slider1.jpg');
}

#slide2 {
    background-image: url('../image/slider2.jpg');
}

#slide3 {
    background-image: url('../image/slider3.jpg');
}

#slide4 {
    background-image: url('../image/slider4.jpg');
}

/* Explore */
#explore {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../image/blog1.jpg');
}

#explore .dark-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

/* Member showcase - halaman home */
#member-showcase img {
    width: 100px;
}

#member-showcase img:hover {
    filter: brightness(120%);
}

/* Member list - halaman home */
#member-list .card-body img {
    width: 125px;
    margin-top: -80px;
}


/* Header image - untuk selain home */

.header-image {

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.header-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 400px;

}

.header-image h1 {
    margin-top: 180px;
}

/* header image - gambar untuk setiap halaman */

#blog-header {
    background-image: url('../image/blog4.jpg');

    background-position-y: -200px;
}


/* HEADER IMAGE - Gambar untuk seriap halaman */

#article-header {
    background-image: url('../image/blog5.jpg');
    background-position-y: -200px;
}

#gallery-header {
    background-image: url('../image/slider4.jpg');
    background-position-y: -200px;
}


/* Gallery Image - untuk efek hover */
#gallery img:hover {
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: .5s;
}


#login-header{
    background-image: url(../image/3.jpg);
    background-position-y: -100px;
}

